body, html {
    height: 100%;
    margin: 0;
}

.bg {
    background-image: url(https://cdn.pixabay.com/photo/2021/09/25/10/08/road-6654573_960_720.jpg);

    height: 100%;

    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

  .dropbtn {
      background-color: #333;
      color: white;
      padding: 13px;
      font-size: 16px;
      border: none;
      cursor: pointer;
  }

.dropdown {
    position: relative;
    display: inline-block;
}

.dropdown-content {
    display: none;
    position: absolute;
    right: 0;
    background-color: #f9f9f9;
    min-width: auto;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
}

.dropdown-content a {
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;

}

.dropdown-content a:hover {background-color: #f1f1f1}

.dropdown:hover .dropdown-content {
    display: block;
}

.dropdown:hover .dropbtn {
    background-color: #3e8e41;
}

  .grid-container {
      position: absolute;
      top: 50%;
      left: 50%;
      margin-right: -50%;
      transform: translate(-50%, -50%);
      background-color: #2196F3;
      padding: 10px;
      width: 1500px;
  }

  ul {
      list-style-type: none;
      margin: 0;
      padding: 0;
      overflow: fragments;
      background-color: #333;
  }
li {
    float: right;
}
li a {
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}

li a:hover:not(.active) {
    background-color: #111;
}

.active {
    background-color: #04AA6D;
}
a {
    float: left;
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}
form input[type=text] {
    width: 130px;
    box-sizing: border-box;
    border-radius: 4px;
    font-size: 14px;
    background-color: rgba(222, 222, 222, 0.8);
    background-image: url('https://img.icons8.com/ios-filled/50/000000/search--v1.png');
    background-position: 10px 10px;
    background-repeat: no-repeat;
    background-size: 30px;
    padding: 12px 20px 12px 40px;
    -webkit-transition: width 0.4s ease-in-out;
    transition: width 0.4s ease-in-out;
}

form input[type=text]:focus {
    width: 45%;
}
form input[type=submit] {
    text-align: center;
    padding: 12px 20px;
    color: white;
    background-color: #04AA6D;
}

  .overlay {
      height: 100%;
      width: 100%;
      display: none;
      position: fixed;
      z-index: 1;
      top: 0;
      left: 0;
      background-color: rgb(0,0,0);
      background-color: rgba(0,0,0, 0.9);
  }

.overlay-content {
    position: relative;
    top: 50%;
    left: 50%;
    margin-right: -50%;
    transform: translate(-50%, -50%);
    text-align: center;
}

.overlay .closebtn {
    position: absolute;
    top: 20px;
    right: 45px;
    font-size: 60px;
    cursor: pointer;
    color: white;
}

.overlay .closebtn:hover {
    color: #ccc;
}

.overlay button {
    position: relative;
    top: 50%;
    transform: translateY(-50%);
    margin: 50px;
    background: #368d45;
    width: 10%;
    height: 60px;
    text-align: center;
}

.overlay button:hover {
    background: #6ab65c;
}